{% extends 'myapp/base.html' %}
{% load static %}
{% block title %} Home {% endblock%}

    {% block content %}
        <div class="container">
            <h1>My name<br>is <span>Lena</span>.</h1>
            <p>I enjoy data science and architecture I am <br> a software engineering fresh grad</p>
            <div class="bg"></div>
            <br>
            <a style="text-decoration: none; color: #000; font-weight: bold" href="{% url 'myapp:resume' %}">Resume</a>
            <a style="text-decoration: none; color: #000; font-weight: bold" href="{% url 'blog:home' %}">Blog</a>
            <a style="text-decoration: none; color: #000; font-weight: bold" href="{% url 'myapp:contact' %}">Contact</a>
            <a style="text-decoration: none; color: #000; font-weight: bold" href="{% url 'myapp:projects' %}">Projects</a>
          </div>
    {% endblock %}
