<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <title> Projects </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/projects.css">
</head>

<body style="background: #eee">
    <div class="menu">
        <a href="{% url 'myapp:home' %}">Home</a>
        <a href="{% url 'myapp:resume' %}">Resume</a>
        <a href="{% url 'myapp:contact' %}">Contact</a>
        <a href="{% url 'myapp:projects' %}">Projects</a>
    </div>

    

    <div class="cards">

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>01 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/FIRST_REPO" target="_blank">FIRST REPO</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">git</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--shot">Shot</span>
                <span>02 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_VARIABLES" target="_blank">LAB VRIABLES</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">python</div>
                <div class="card-tag">variables</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>02 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_ARITHMETIC_STRING_OPERATIONS" target="_blank">LAB ARITHMETIC STRING OPERATIONS</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">python</div>
                <div class="card-tag">arthmetic</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>03 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_LOOPS" target="_blank">LAB LOOPS </a>
            </div>

            <div class="card-tags">
                <div class="card-tag">loops</div>
                <div class="card-tag">python</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>03 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_CONDITIONALS" target="_blank">LAB CONDITIONALS</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">CONDITIONALS</div>
                <div class="card-tag">python</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>04 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_FUNCTIONS_2" target="_blank">LAB FUNCTIONS</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">FUNCTIONS</div>
                <div class="card-tag">python</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>08 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_DICTIONARY" target="_blank">LAB DICTIONARY</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">DICTIONARY</div>
                <div class="card-tag">python</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>18 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/UNIT_1_PROJECT" target="_blank">UNIT ONE PROJECT</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">django</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>14 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/TOURISM_PROJECT" target="_blank">TOURISM PROJECT</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">django</div>
                <div class="card-tag">python</div>
                <div class="card-tag">css</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>29 May 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_DJANGO_ORM-1" target="_blank">LAB DJANGO ORM-1</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">django</div>
                <div class="card-tag">orm</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>01 Jun 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_DJANGO_ORM-2" target="_blank">LAB DJANGO ORM-2</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">django</div>
                <div class="card-tag">orm</div>
            </div>
        </div>

        <div class="card">
            <div class="card-info">
                <span class="card-grad--video">Video</span>
                <span>03 Jun 2023</span>
            </div>

            <div class="card-heading">
                <a href="https://github.com/lenashayban/LAB_DJANGO_ORM-3" target="_blank">LAB DJANGO ORM-3</a>
            </div>

            <div class="card-tags">
                <div class="card-tag">django</div>
                <div class="card-tag">orm</div>
            </div>
        </div>

    </div>

</body>

</html>