<!DOCTYPE html>
<html>

<head>
  <title>Resume</title>
  <link rel="stylesheet" type="text/css" href="static/css/resume.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <div class="menu">
    <a href="{% url 'myapp:home' %}">Home</a>
    <a href="{% url 'myapp:resume' %}">Resume</a>
    <a href="{% url 'myapp:contact' %}">Contact</a>
    <a href="{% url 'myapp:projects' %}">Projects</a>
  </div>

  <div class="menu-download">
    <button id="download-button" class="btn-download"><i class="fa fa-download"></i>Download</button>
  </div>

  <script>
    const button = document.getElementById('download-button');
    function generatePDF() {
      // Choose the element that your content will be rendered to.
      const element = document.getElementById('invoice');
      // Choose the element and save the PDF for your user.
      html2pdf().from(element).save("lena_shayban_cv");
    }
    button.addEventListener('click', generatePDF);
  </script>

  <div id="invoice">
    <div class="container">
      <div class="header">
        <div class="full-name">
          <span class="first-name">Lena</span>
          <span class="last-name">Alshayban</span>
        </div>
        <div class="contact-info">
          <span class="email">Email: </span>
          <span class="email-val">lenaashayban@gmail.com</span>
          <span class="separator"></span>
          <span class="phone">Phone: </span>
          <span class="phone-val">+966-11-222-3333</span>
        </div>
        <div class="about">
          <span class="position">Software Engineer</span>
          <span class="desc"><br>
            I am fresh graduate in software engineering with less than year of experience analyzing business operations
            and managing a diverse portfolio of projects.
          </span>
        </div>
      </div>

      <div class="details">
        <div class="section">
          <div class="section__title">Experience</div>
          <div class="section__list">
            <div class="section__list-item">
              <div class="left">
                <div class="name">Brains Valley Co.</div>
                <div class="addr">Riyadh, Saudi Arabia</div>
                <div class="duration">Jun 2022 - Aug 2022</div>
              </div>
              <div class="right">
                <div class="name">Business Analyst</div>
                <div class="desc">Intern</div>
              </div>
            </div>
            <div class="section__list-item">
              <div class="left">
                <div class="name">Saudi Alpha</div>
                <div class="addr">Riyadh, Saudi Arabia</div>
                <div class="duration">Feb 2021 - Jun 2022</div>
              </div>
              <div class="right">
                <div class="name">Data Analyst</div>
                <div class="desc">Part-time</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section__title">Education</div>
          <div class="section__list">
            <div class="section__list-item">
              <div class="left">
                <div class="name">King Saud University</div>
                <div class="addr">Riyadh, Saudi Arabia</div>
                <div class="duration">Sep 2017 - Aug 2022</div>
              </div>
              <div class="right">
                <div class="name">Bachelor of Software Engineering</div>
                <div class="desc">Member of SKERG Team</div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section__title">Projects</div>
          <div class="section__list">
            <div class="section__list-item">
              <div class="name">Modrek</div>
              <div class="text">Machine learning and sentiment analysis desktop app of arabic tweets using data
                visualization software developed for King saud university’s college of arts mass communication and media
                department.</div>
            </div>
            <div class="section__list-item">
              <div class="name">TechHub</div>
              <div class="text">Android social networking application where users share short posts to find jobs,
                experts, and ideas, with a payment feature service.</a>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section__title">Skills</div>
          <div class="skills">
            <div class="skills__item">
              <div class="left">
                <div class="name">Python</div>
              </div>
              <div class="right">
                <input id="ck1" type="checkbox" checked />
                <label for="ck1"></label>
                <input id="ck2" type="checkbox" checked />
                <label for="ck2"></label>
                <input id="ck3" type="checkbox" />
                <label for="ck3"></label>
                <input id="ck4" type="checkbox" />
                <label for="ck4"></label>
                <input id="ck5" type="checkbox" />
                <label for="ck5"></label>
              </div>
            </div>
          </div>
          <div class="skills__item">
            <div class="left">
              <div class="name">UI/UX Design</div>
            </div>
            <div class="right">
              <input id="ck1" type="checkbox" checked />
              <label for="ck1"></label>
              <input id="ck2" type="checkbox" />
              <label for="ck2"></label>
              <input id="ck3" type="checkbox" />
              <label for="ck3"></label>
              <input id="ck4" type="checkbox" />
              <label for="ck4"></label>
              <input id="ck5" type="checkbox" />
              <label for="ck5"></label>
            </div>
          </div>
        </div>

        <div class="section">
          <div class="section__title">Interests</div>
          <div class="section__list">
            <div class="section__list-item">Data science, programming.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    <div class="badge-base LI-profile-badge" data-locale="en_US" data-size="medium" data-theme="light"
      data-type="VERTICAL" data-vanity="lenashayban" data-version="v1"></div>
  </div>

  <script src="html2pdf.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>
</body>

</html>