{% extends "know_me/base.html" %}

{% block title %}Edit images Page{% endblock%}

{% block content %} 
<div class="container">

<div class="container  mt-3">

    <form action="{% url 'know_me:edit_project_image' project.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Upload image</label>
                <input type="file" name="images" class="form-control" />
            </div>
    
            <div class="mb-3">
                <input type="submit" value="Add Image" class="btn btn-light shadow" />
                <a href="{% url 'know_me:detail_project_page' project.id %}" class="btn btn-light shadow">Back</a>
            </div>
    </form>


    
<div class="row" >
    <div class="container row row-cols-1 col d-flex justify-content-center">
        {% for image in delete_images %}
        <div class="container col card shadow-md me-5 shadow" style="width: 12rem; margin: 10px 0px 0px 50px; ">
            <img src="{{ image.images.url }}" class="card-img mt-2 me-2" alt="...">
            <div class="card-body ">
                <a href="{% url 'know_me:delete_image' image.id %}" stlye="margin-top: auto;" class="btn btn-secondary shadow" >Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


</div>

</div>
{% endblock %}