{% extends "know_me/base.html" %}

{% block title %}Home Page{% endblock%}

{% block content %} 
<div class="continer">
    <div class="row text-white p-5 m-5 m-auto ">
        <div class="col m-auto" style="color: #acacb3;">
            <h4><span style="color: #facc15;">-</span>Hello<span style="color: #facc15;">,</span></h4>
            <h1>I<span style="color: #facc15;">'</span>m <span style="color: #facc15;">Suliman</span></h1>
            <h6>This is my own site, which you will know more about me.</h6>
        </div>
        <div class="col m-auto ">
            <img src="/static/images/myPhoto.jpeg"  width="auto" height="450px" class="mr-5 rounded-5 rounded-circle shadow-lg animate__slideInRight">
        </div>
    </div>
</div>


{% endblock %}