{% extends "know_me/base.html" %}

{% block title %}Projects Page{% endblock%}

{% block content %} 

<div class="row row-cols-1 row-cols-md-2 g-4 p-5">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">MyCorner <span style="font-size: 60%; color: #00b6d6;">Applecation</span></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-secondary">More Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">GuessGame <span style="font-size: 60%; color: #00b6d6;">On Terminal</span></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <a href="#" class="btn btn-secondary">More Details</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">Toursim <span style="font-size: 60%; color: #00b6d6;">Website</span></h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-secondary">More Details</a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}