{% extends 'main_app/index.html' %}
{% load static %}

{% block bar %}
    <a href="{% url 'main_app:home_page' %}#hero">Home</a>
    <a href="{% url 'main_app:home_page' %}#about" class="active">About</a>
    <a href="{% url 'main_app:home_page' %}#project">Project</a>
    <a href="{% url 'main_app:home_page' %}#contact">Contact</a>
{% endblock %}

{% block content %}
    <!-- Education section -->
    <section class="home">
        <div class="home-content">
            <br>
            <h1>Education</h1>
            <h3>Bachelor's <span>Computer Science</span></h3>
            <p>Prince Sattam bin Abdulaziz University</p>
            <br>
            <p>
                I graduated with a Bachelor's degree in "Computer Science" from Prince Sattam bin Abdulaziz University in November 2022.<br>
                I studied programming using the "Java" language, I also studied about computer security, cybersecurity and cybercrimes, 
                I finished my graduation project in deep learning using the "Python" language.
            </p>
        </div>
        <div class="cv-img">
            <img src="{% static 'img/education.png' %}">
        </div>
    </section>

    <!-- Experience section -->
    <section class="about">
        <div class="cv-img mar-r">
            <img src="{% static 'img/experience.png' %}">
        </div>
        <div class="home-content">
            <br>
            <h1>Experience</h1>
            <h3><span>Training,</span></h3>
            <p>SafeDecision co.</p>
            <br>
            <p>
                I trained at Safe Decision Co. within three months. I developed web page using "Kubernetes" system and "Docker" image, 
                and used "MongoDB" database and for API I used "Express Node.js". And for frontend I used "HTML", "CSS" and 
                "JavaScript".<br>
                I learned the basics of cybersecurity and how to deal with cyberattacks, and designed a virtual network and 
                protected it using a firewall called "Sophos XG" and created an Endpoint security server "ESET", 
                Vulnerability Scanner server "Nessus", and "MangeEngine EventLog Analyzer".
            </p>
        </div>
    </section>

    <!-- Skills section -->
    <section class="contact bg-color-change">
        <h2 class="heading">Skills</h2>
        <div class="skills-content">
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">web development</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="90%" style="max-width: 90%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Java</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="70%" style="max-width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Python</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="80%" style="max-width: 80%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">SQL</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="25%" style="max-width: 25%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">JavaScript</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="50%" style="max-width: 50%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Linux</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="30%" style="max-width: 30%;"></div>
                    </div>
                </div>
            </div>
            <div class="skills">
                <div class="skill">
                    <div class="skill-name">Git</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="70%" style="max-width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Express.js</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="70%" style="max-width: 70%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">MongoDB Atlas</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="45%" style="max-width: 45%;"></div>
                    </div>
                </div>
                <div class="skill">
                    <div class="skill-name">Django</div>
                    <div class="skill-bar">
                        <div class="skill-per" per="80%" style="max-width: 80%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Courses section -->
    <section class="project bg-color-change2">
        <br>
        <h2 class="heading">Courses</h2>
        <br>
        <div class="courses-container">
            <div class="courses-box">
                <h3><span>Computer security</span></h3>
                <br>
                <p>CompTIA Network+, Udemy</p>
                <p>CompTIA Security+, Udemy</p>
                <p>HCIA Security, Huawei</p><br><br>
            </div>
            <div class="courses-box">
                <h3><span>Web development</span></h3>
                <br>
                <p>Introduction to web development, Attaa Digital</p>
                <p>Application development Bootcamp using Python language, Tuwaiq</p><br><br>
            </div>
            <div class="courses-box">
                <h3><span>Other</span></h3>
                <br>
                <p>Cloud services and systems, Attaa Digital</p>
                <p>Fundamentals of a feasibility study, Riyadah</p>
                <p>How to build your technical project, Attaa Digital</p>
            </div>
        </div>
    </section>

    <!-- Languages section -->
    <section class="contact bg-color-change">
        <h2 class="heading">Languages</h2>
        <div class="lang-containt">
            <div>
                <div class="container-lang">
                    <h3 class="heading2">Arabic</h3>
                    <div class="circular-progress">
                        <div class="value-container">0%</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="container-lang">
                    <h3 class="heading2">English</h3>
                    <div class="circular-progress2">
                        <div class="value-container2">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}