{% extends 'main_app/index.html' %}
{% load static %}

{% block content %}
    <!-- Hero section -->
    <section class="home" id="hero">
        <div class="home-content">
            <h3>Hello. I'm</h3>
            <h1>Yousef Alsaadan</h1>
            <h3>And I'm a <span class="multiple-text"></span></h3>
            <p>
                I completed my Bachelor's degree in Computer Science in November 2022. During my academic career, I acquired 
                experiences in Programming, Deep Learning, and Cybersecurity. I worked on a graduation project in Deep Learning titled 
                “Recognition Arabic/Hindi digit Using Neural Networks”.<br>
                I trained at Safe Decision Co. for Information Technology and Computer Security within three months. I took courses 
                in several fields, including cybersecurity, cloud services and programming.
            </p>
            <div class="social-media">
                <a href="https://wa.me/966560704096" target="_blank"><i class='bx bxl-whatsapp'></i></a>
                <a href="mailto:yousefmalsaadan@gmail.com" target="_blank"><i class='bx bxl-gmail' ></i></a>
                <a href="https://github.com/Yousef-Alsaadan" target="_blank"><i class='bx bxl-github' ></i></a>
                <a href="https://www.linkedin.com/in/yousef-mohammed-b01685249" target="_blank"><i class='bx bxl-linkedin' ></i></a>
            </div>
            <a href="" class="btn">Download CV</a>
        </div>
        <div class="home-img">
            <img src="{% static 'img/home_img.jpg' %}">
        </div>
    </section>

    <!-- About section -->
    <section class="about" id="about">
        <div class="about-img">
            <img src="{% static 'img/home_img.jpg' %}">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Education</h3>
            <p>
                I graduated with a Bachelor's degree in Computer Science from Prince Sattam bin Abdulaziz University in November 2022.<br>
                I studied programming using the Java language, I also studied about computer security, cybersecurity and cybercrimes, 
                I finished my graduation project in deep learning using the Python language.
            </p>
            <a href="{% url 'main_app:about_page' %}" class="btn">Read More</a>
        </div>
    </section>

    <!-- Projects section -->
    <section class="project" id="project">
        <h2 class="heading">My <span>Projects</span></h2>
        <div class="project-container">
            <div class="project-box">
                <i class='bx bx-brain'></i>
                <h3>Deep Learning</h3>
                <p>
                    I worked with a team on a project "Recognition Arabic/Hindi Handwritten digit using Convolutional Neural Network 
                    (CNN)" on a free database containing 700 writers, each of them wrote the numbers from 0 to 9 ten times, and 99.16% 
                    accuracy with a 0.84% miss-classification error has been achieved. The project was applied in Python using 
                    TensorFlow and Keras library.
                </p>
                <a href="{% url 'main_app:projects_page' %}#" class="btn">Read More</a>
            </div>

            <div class="project-box">
                <i class='bx bx-network-chart'></i>
                <h3>Networks</h3>
                <p>
                    I worked as part of a team in creating a virtual network on Safe Decision Company's servers, the network containing 
                    firewall, workstations with different systems, web server, and finally four servers:<br>
                    Domain controller server, Endpoint security server, Vulnerability Scanner server, and EventLog Analyzer.
                </p><br><br>
                <a href="{% url 'main_app:projects_page' %}#" class="btn">Read More</a>
            </div>

            <div class="project-box">
                <i class='bx bx-code-alt' ></i>
                <h3>Programming</h3>
                <p>
                    I worked on one of Tuwaiq Bootcamp projects for developing applications using Python Language,<br>
                    which is a software that allows the user to enter his favorite movies and can categorize them by three sections:<br>
                    watching, plan to watch, and Completed.
                </p><br><br><br><br>
                <a href="{% url 'main_app:projects_page' %}#" class="btn">Read More</a>
            </div>
        </div>
        <a href="{% url 'main_app:projects_page' %}" class="btn">More Projects</a>
    </section>

    <!-- Contact section -->
    <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>
        <form method="POST" action="{% url 'main_app:contact_page' %}">
            {% csrf_token %}
            <div class="input-box">
                <input type="text" class="input-txt" name="name_first" placeholder="First Name">
                <input type="text" class="input-txt" name="name_last" placeholder="Last Name">
            </div>
            <div class="input-box">
                <input type="email" class="input-txt" name="address" placeholder="Email Address">
                <input type="text" class="input-txt" name="e_subject" placeholder="Email Subject">
            </div>
            <textarea name="message" class="input-txt" placeholder="Your message" cols="30" rows="10"></textarea>
            <input type="submit" value="Send Message" class="btn">
        </form>
    </section>
{% endblock %}