{% extends 'main_app/index.html' %}
{% load static %}


{% block content %}
    <div class="detial-project-container">
        <div class="row-project">
            <div class="home-content">
                <h3><span>Thank you</span></h3>
                <h1>from my heart for you message</h1>
                <br><br><br>
                <div class="detial-project-btn">
                    <a href="{%url 'main_app:home_page' %}" class="btn">Back Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}