<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Update</title>
</head>
<body>
    <section class="">
        <h3 class="">Update a Project</h3>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="">
                <span class="" id="">Title</span>
                <input type="text" value="{{project.title_project}}" class="" name="title_project">
            </div>

            <div class="">
                <span class="">Content</span>
                <textarea type="text" class="" name="description_project">{{project.description_project}}</textarea>
            </div>

            <div class="">
                <span class="" id="">Icon name</span>
                <input type="text" value="{{project.ison_project}}" class="" name="ison_project">
            </div>

            <img src="{{project.image_project.url}}" width="100px" height="100px">
            <div class="">
                <label class="">Image</label>
                <input type="file" name="image_project" class="">
            </div>

            <div class="">
                <input type="submit" value="Update Project" class="">
            </div>
        </form>
    </section>
</body>
</html>