{% extends 'main_app/base.html' %}

{% block title %} Update blog {% endblock%}


{% block content%}
<h1>Update blog: {{blog.title}}</h1>
<div class="container">

    <form action="{% url 'main_app:update_blog' blog.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="fill in title" name="title" value="{{blog.title}}">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlInput1" placeholder="fill in title" name="description">{{blog.description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Rating</label>
            <select class="form-select" aria-label="Default select example" name="rating">
                <option value="1" {% if game.rating == 1 %} selected {% endif %}>1</option>
                <option value="2" {% if game.rating == 2 %} selected {% endif %}>2</option>
                <option value="3" {% if game.rating == 3 %} selected {% endif %}>3</option>
                <option value="4" {% if game.rating == 4 %} selected {% endif %}>4</option>
                <option value="5" {% if game.rating == 5 %} selected {% endif %}>5</option>
              </select>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Is Published</label>
            <select class="form-select" aria-label="Default select example" name="is_published">
                <option value="True"  {% if game.is_published == True %} selected {% endif %}>Published</option>
                <option value="False" {% if game.is_published == False %} selected {% endif %}>Not Published</option>
              </select>
        </div>

        <div class="mb-3 d-flex flex-column gap-2">
            <label for="exampleFormControlInput1" class="form-label">Choose Image</label>
            <img src="{{blog.image.url}}" class="w-25 rounded-5"/>
            <input type="file" name="image" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Release Date</label>
            <input type="date" name="release_date" value="{{iso_date}}" />
        </div>

        <div class="mb-3">
            <input type="submit" value="Update blog" class="btn btn-primary" />
        </div>


    </form>

</div>
{% endblock %}