{% extends 'main_app/base.html' %}
{% load static %}

{% block course %}
<div class="courses_main">
    
    <div class="courses_first">
        
        <div class="courses_secondary">

            <div class="card">
                <img src="{% static 'images/future_skills.png' %}" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Data Scientist and Artificial Intelligence Engineer</b></h4>
                    <p>September 29, 2021</p>
                </div> 
            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/39629183" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>AI Capstone Project</b></h4>
                    <p>September 29, 2021</p>
                </div> 
            </div>

        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/39909512" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Artificial Intelligence Engineer</b></h4>
                    <p>September 29, 2021</p>
                </div> 
            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/38814350" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Machine Learning</b></h4>
                    <p>September 19, 2021</p>
                </div> 
            </div>

        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/38814347" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Introduction to Artificial Intelligence</b></h4>
                    <p>September 19, 2021</p>
                </div> 
            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/38814348" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Data Science with Python</b></h4>
                    <p>September 19, 2021</p>
                </div> 
            </div>
        
        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/38814345" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Natural Language Processing</b></h4>
                    <p>September 19, 2021</p>
                </div>

            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/38331924" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Advanced Deep Learning and Computer Vision</b></h4>
                    <p>September 1, 2021</p>
                </div>

            </div>

        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/37275475" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Deep Learning with Keras and TensorFlow</b></h4>
                    <p>August 13, 2021</p>
                </div>

            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/36428405" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Data Scientist</b></h4>
                    <p>July 28, 2021</p>
                </div>

            </div>

        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/35902220" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Data Science Capstone</b></h4>
                    <p>July 8, 2021</p>
                </div>

            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/34941577" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Big Data Hadoop and Spark Developer</b></h4>
                    <p>July 2, 2021</p>
                </div>

            </div>

        </div>

        <div class="courses_secondary">

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/34942023" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Tableau Certification Training</b></h4>
                    <p>June 28, 2021</p>
                </div>

            </div>

            <div class="card">
                <img src="https://api.accredible.com/v1/frontend/credential_website_embed_image/certificate/33884174" style = "border-radius: 5px 5px 0 0; width: 100%;">
                <div class="card_content">
                    <h4><b>Data Science Certification Training - R Programming </b></h4>
                    <p>June 9, 2021</p>
                </div>

            </div>

        </div>
    </div>
</div>
{% endblock %}