{%extends "my_app/base.html"%}
{%load static%}
{%block content%}
<div class="container-fluid" style="background-color:#e6e6e6; background-repeat: no-repeat; background-size: cover; color: black; border-radius: 20px; height: 100%; display: absolute; align-items: center; justify-content: flex; margin-left:70px;">
  <!-- Content goes here -->


        <div class="row    mr-1">
            <div class="col">
                        <div class="dis">
                            <h3>Personal Information </h3>
                            <div class="chat-container">
                                <div class="chat-bubble" >
                                    <ul>
                                        <li>Name: SAUD SAEED ALGHAMDI</li>
                                        <li>Location:Riyadh</li>
                                        <li>Phone Number:0541428731</li>
                                        <li>Email:saudallosh@gmail.com</li>

                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col mt-5" >
                        <div class="dis">
                            <div class="subject" style="margin-top:5px;">
                                <h3>Education </h3>
                            </div>
                            <div class="chat-container">
                                <div class="chat-bubble">
                                    <ul>
                                        <li>Diploma in Computer Science with a specialization in Technical Support .</li>
                                        <li> Bachelor's degree in Computer Engineering </li>
                                        <li> Master's degree in Cybersecurity</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
        <div class="row mr-4 pt-1">
            <div class="col m-0 ">
                        <div class="dis" style="margin-top:0px;">
                            <h3>Skills </h3>
                            <div class="chat-container">
                                <div class="chat-bubble">
                                    <ul>
                                        <li>Python programming (Full Stack)</li>
                                        <li> Operating systems and network penetration testing </li>
                                        <li> System administration</li>
                                        <li> Website development </li>
                                        <li>Hardware and network maintenance.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col mt-3 p-5" >
                        <div class="dis" style="margin-top:0px;">
                            <div class="subject">
                                <h3>Personal Skills </h3>
                            </div>
                            <div class="chat-container">
                                <div class="chat-bubble">
                                    <ul>
                                        <li>Quick learner.</li>
                                        <li> commitment, </li>
                                        <li> passion for growth.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row mt-2 pt-2">
            <div class="col m-0 ">
                        <div class="dis" style="margin-top:0px;">
                            <h3>Courses and Professional Certifications </h3>
                            <div class="chat-container">
                                <div class="chat-bubble">
                                    <ul>
                                        <li>Google IT Automation with Python</li>
                                        <li> Basic and Advanced Python (CoEIA)</li>
                                        <li> IBM Security Intelligence</li>
                                        <li> Digital Content Management - Saudi Electronic University </li>
                                        <li>Social Media Certified Manger(WSI)</li>
                                        <li>Digital Marketing Certified Manger(WSI)</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
            <div class="col mt-5 p-1" >
                        <div class="dis" style="margin-top:0px;">
                            <div class="subject">
                                <h3>Hobbies and Interests </h3>
                            </div>
                            <div class="chat-container">
                                <div class="chat-bubble">
                                    <ul>
                                        <li>Playing tennis.</li>
                                        <li> mountain climbing </li>
                                        <li>  traveling </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
</div>
{%endblock%}