{%extends "my_app/base.html"%}
{%load static%}
{%block content%}

<div class="row mt-1  p-2 ">
    <div class="col p-2">
                <div class="dis ">
                    <div class="magic-element mr-4">
                        <span class="material-symbols-outlined algin-item-center" >  <h2>Hello I am SAUD ALGHAMDI </h2> waving_hand</span>
                    </div>

                            <p> I am a Computer Engineer with 9+ years experience, Technology is my primary interest, and I am passionate about cybersecurity and programming auxiliary tools for growth on social media platforms.</p>
                </div>
    </div>
    <div class="col mt-1" >
        <img src="static/images/photo.jpg" class="bodyimg">
    </div>


</div>
{%endblock%}