{%extends "my_app/base.html"%}
{%load static%}
{%block content%}

<section id='resume' class='section section-resume active' >

					<div class='section-block timeline-block' >

						<div class='container-fluid' >

							<div class='section-header' >

								<h2>My <strong class='color' >Education</strong></h2>

							</div>

							<ul class='timeline' >

								<li>

									<div class='timeline-content' >

										<h4>Cyber Security </h4>

										<em>
											<span>Masters Degree</span>
											<span>2021-2023</span>
										</em>

										<p>
											This degree reflects my advanced knowledge and skills in protecting various digital systems and networks from cyber threats.
										</p>

									</div>

								</li>

								<li>

									<div class='timeline-content' >

										<h4> Computer Engineering</h4>

										<em>
											<span> Bachelor's degree</span>
											<span>2010-2014</span>
										</em>

										<p>
											This degree provided me with a strong foundation in both computer science and electrical engineering principles.
										</p>

									</div>

								</li>

								<li>

									<div class='timeline-content' >

										<h4> Technical Support</h4>

										<em>
											<span>Diploma</span>
											<span>2008-2010</span>
										</em>

										<p>
											 This qualification has equipped me with practical skills and knowledge necessary to troubleshoot, repair, and maintain various computer systems and networks.
										</p>

									</div>

								</li>



							</ul>

						</div>

					</div>

					<div class='section-block timeline-block' >

						<div class='container-fluid' >

							<div class='section-header' >

								<h2>My <strong class='color' >Experience</strong></h2>

							</div>

							<ul class='timeline' >

								<li>

									<div class='timeline-content' >

										<h4>Al-Rawdah Limited Company</h4>

										<em>
											<span>Technical Support Specialist</span>
											<span>2014-2014</span>
										</em>

										<p>
											my responsibilities included providing technical assistance and support to customers and end-users. I addressed their technical issues, resolved hardware and software problems, and offered guidance on product usage. I ensured timely and effective resolution of technical inquiries and provided exceptional customer service.
										</p>

									</div>

								</li>

								<li>

									<div class='timeline-content' >

										<h4>First information Technology</h4>

										<em>
											<span>Technical Support Engineer for the Royal Court's Websites</span>
											<span>2014-2016</span>
										</em>

										<p>
											my responsibilities include managing the dedicated websites for the Royal Court and providing the necessary support for their operation and maintenance
										</p>

									</div>

								</li>

							</ul>

						</div>

					</div>

					<div class='section-block testimonials-block' >

						<div class='container-fluid' >

							<div class='section-header' >

								<h2>My <strong class='color' >Clients</strong></h2>

							</div>


							<div class='testimonials-slider' >


								<div class='testimonial' >

									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>

									<p>
										"You're doing great!"
									</p>

									<div class='author' >
										<h4>Mohammed saad</h4>
										<span>Manger</span>
									</div>

								</div>

								<div class='testimonial' >

									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>

									<p>
										"Keep up the good work!"
									</p>

									<div class='author' >
										<h4>Nasser ali</h4>
										<span>CEO at Company</span>
									</div>

								</div>


								<div class='testimonial' >

									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>

									<p>
										You've outdone yourself
									</p>

									<div class='author' >
										<h4>khalid</h4>
										<span>CEO at STC</span>
									</div>

								</div>

								<div class='testimonial' >

									<div class='icon' >
										<i class='ion-quote' ></i>
									</div>

									<p>
										I appreciate your efforts
									</p>

									<div class='author' >
										<h4>abdullah</h4>
										<span>sinor at Company</span>
									</div>

								</div>

							</div>

						</div>

					</div>

				</section>
{%endblock%}