{%extends "my_app/base.html"%}
{%load static%}
{%block content%}

<h3>Work Experience</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/photo1.jpg' %}" class="card-img-top" alt="Job 1">
        <div class="card-body">
          <h4 class="card-title"> Al-Rawdah Limited Company,
 Technical Support Specialist
Duration: 2014</h4>
          <p class="card-text">my responsibilities included providing technical assistance and support to customers and end-users. I addressed their technical issues, resolved hardware and software problems, and offered guidance on product usage. I ensured timely and effective resolution of technical inquiries and provided exceptional customer service.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/pic.jpeg' %}" class="card-img-top" alt="Job 2">
        <div class="card-body">
          <h4 class="card-title">First information Technology,Technical Support Engineer for the Royal Court's Websites<br>
Duration: 2014 to 2016</h4>
          <p class="card-text">my responsibilities include managing the dedicated websites for the Royal Court and providing the necessary support for their operation and maintenance.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="{% static 'images/photo3.jpeg' %}" class="card-img-top" alt="Job 3">
        <div class="card-body">
          <h4 class="card-title">Private Company</h4>
          <p class="card-text">Period: 2016 - Present</p>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}