{%extends 'my_site/home_page.html'%}

{%block header%}
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="{%url 'my_site:home_page'%}" class="nav-link scrollto"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
        <li><a href="{%url 'my_site:about_page'%}" class="nav-link scrollto"><i class="bi bi-person"></i> <span>About</span></a></li>
        <li><a href="{%url 'my_site:interests_page'%}" class="nav-link scrollto active"><i class="bi bi-bookmark-star"></i> <span>Interests </span></a></li>
        <li><a href="{%url 'my_site:skills_page'%}" class="nav-link scrollto"><i class="bi bi-lightning"></i> <span>Skills</span></a></li>
        <li><a href="{%url 'my_site:feedback_page'%}" class="nav-link scrollto"><i class="bi bi-chat-left-text"></i> <span>Feedback</span></a></li>
        <li><a href="{%url 'my_site:contact_page'%}" class="nav-link scrollto"><i class="bi bi-send"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->
{%endblock%}

{%block section%}

<section id="interests" class="interests">
    <div class="container" data-aos="fade-up" data-aos-duration="2000">

      <div class="section-title">
        <h2>interests</h2>
        <p></p>
      </div>

      <div class="row">

        <div class="col-lg-4 col-md-6 h-b d-flex align-items-stretch" style="width: 60vh; margin-right: 1.5px; background-image: url(/static/images/car.jpg); background-size: cover; color: white; height: 45vh; text-align: center; border-radius: 10vh;" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            
            <h4><span >Cars</span></h4>
            <p>Especially modifying cars, installing add-ons and programming them</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" style="width: 60vh; margin-right: 1.5px; background-image: url(/static/images/tech.jpg); background-size: cover; color: white; text-align: center; border-radius: 10vh;" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange">
            
            <h4><span >Technology</span></h4>
            <p>Technical matters in general and programming in particular</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" style="width: 60vh; margin-right: 0px; background-image: url(/static/images/sport.jpg); background-size: cover; color: white; text-align: center; border-radius: 10vh;" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            
            <h4><span>Sport</span></h4>
            <p>Bodybuilding and football because of the benefit it has on the body, health, and the use of free time</p>
          </div>
        </div>

        

      </div>

    </div>
  </section>

{%endblock%}