{% extends 'main_app/index.html' %}
{% load static %}

{% block title %} Submit done {% endblock%}

{% block content %}
<p></p>
{%endblock%}



{%block contact%}
<div class="hero-area d-flex align-items-center justify-content-center vh-100">
           
    <!-- Hero Content -->
    <div class="hero-content">
        <div class=" h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12">
                    <div class="contact-form text-center">
                        <h2>Your message has reached us <i class="fa fa-heart-o" aria-hidden="true"></i> </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endblock%}
</div>

