{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style/style.css' %}">
  <title>My Website</title>
</head>
<style>
	#hero {
	background-image: url("{% static 'img/hero-bg.png' %}");
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
</style>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>F</span>aisal <span>AL</span>hussain</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="{% url 'main_app:home_page' %}">Home</a></li>
            <li><a href="#services" data-after="Service">INTERESTS</a></li>
            <li><a href="#projects" data-after="Projects">Activates</a></li>
            <li><a href="#about" data-after="About">About</a></li>
            <li><a href="#contact" data-after="Contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->
  {% block content%}

  {% endblock %}


  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
		<h1><span>F</span>aisal <span>AL</span>hussain</h1>
	</div>
      <a herf="#"><h2>Contect us</h2></a>
      <div class="social-icon">
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/facebook-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/instagram-new.png" /></a>
        </div>
        <div class="social-item">
          <a href="{% url 'main_app:contect_me' %}"><img src="https://img.icons8.com/bubbles/100/000000/among-us.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/twitter-squared.png" /></a>
        </div>
        <div class="social-item">
          <a href="#"><img src="https://img.icons8.com/bubbles/100/000000/youtube.png" /></a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Footer -->
  <script src="./app.js"></script>
</body>

</html>