{% extends 'main_app/personal.html' %}
{% load static %}
{% block content %}

<style>
* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
padding: 100px;
background: none repeat scroll 0 0 #283D5F;
font-family: Arial, sans-serif;

}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #c2c64d;
}
.icon{

    height: 60px;
	width: 60px;
	margin-bottom: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
  border-radius: 30px;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
background: none repeat scroll 0 0 #283D5F;
max-width: 100%;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   border-radius: 30px;
}
p {
  color: #008000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: none repeat scroll 0 0 #162b4d;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
</style>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/football-2" /></div>
      <img src= "{% static 'img/R.jpg' %}" alt="img" class="fakeimg" style="height:800px;">
      <h5>Title description, Dec 7, 2023</h5>
    <h1>Karim Benzema signs deal to join Saudi Arabia’s Al-Ittihad from Real Madrid</h1>
      <p>Karim Benzema has signed documents to join the Saudi Arabian club Al-Ittihad after confirming his departure from Real Madrid. The former France international’s contract with the Saudi champions is understood to be for two years, with the option of a further season.
        Benzema is available on a free after voiding the one-year extension clause he had in his Madrid deal. Madrid’s manager, Carlo Ancelotti, said on Sunday the club “cannot be happy about his farewell but we have to respect his decision”. Benzema received a huge wage offer to join Al-Ittihad,
         who beat Al-Nassr, where Cristiano Ronaldo plays, to the title last month.</p>
    </div>
    <div class="card">
    <div class="icon"><img src="https://img.icons8.com/bubbles/100/000000/football-2" /></div>
      <img src= "{% static 'img/th.jpg' %}" alt="img" class="fakeimg" style="height:800px;">
      <h5>Title description, mar 6, 2023</h5>
      <h1>Karim Benzema: Five-time Champions League winner to leave Real Madrid after 14 years</h1>
      <p>The Ballon d'Or-winning striker, who joined the Spanish giants from Lyon in 2009, will depart on a free transfer when the season ends.

        Benzema, who had a year left on his contract, is set to move to Saudi Arabia after receiving a "record offer" from Al-Ittihad, according to Spanish football journalist Guillem Balague.
        
        Benzema, 35, won five Champions Leagues and four La Liga titles with Madrid.
        
        Saudi state-run Al Ekhbariya television station reported on Sunday that Benzema will sign a two-year deal with Al-Ittihad.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>My Stories</h2>
      <p>Karim Benzema is world class player . very great sign. im sure we will be gain alot </p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
    </div>
    <div class="card">
      <h3>know More on youtube:</h3>
      <div class="icon">
        <a href="#" ><img src="https://img.icons8.com/bubbles/100/000000/youtube.png" /></a>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>
{% endblock %}
