{% extends 'main_app/personal.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'style/contect.css' %}">

<div class="container1">
    <p>CONTACT US</p>
    
    <div class="login">
      <input type="text" placeholder="Your Name" class="input">
      <input type="text" placeholder="Your Email Address" class="input">
    </div>
    
    <div class="subject">
      <input type="text" placeholder="Subject" class="input">
    </div>
    
    <div class="msg">
      <textarea  class="area" placeholder="Leave a Message"></textarea>
    </div>
    
    <div class="btn">Send Message</div>
  </div>
{% endblock %}
